.custom-gaze-control-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding-top:70px;
  display: flex;
  justify-content: center;
  background-color: rgba(7, 15, 43, 0.85);
  backdrop-filter: blur(10px);
}

.custom-gaze-control-modal {
  z-index: 100000000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.custom-gaze-control-modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
.gaze-control-container {
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gaze-control-fav-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    width: 140px;
    height: 140px;
    rgba(7, 15, 43, 0.8)
    backdrop-filter: blur(10px);
    margin: 25px;
}
.gaze-control-fav-card p{
    color: black;
}

.gaze-control-fav-card img {
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.gaze-control-search {
    width: 100%;
    min-width: 450px;
    display: flex;
    justify-content:center;
    align-items:center;
}

.gaze-control-search input {
    font-size: 40px;
    height:100%;
}

.gaze-control-searchTerm {
    width: 100%;
    border: 3px solid #9290C3;
    border-radius: 5px;
    outline: none;
    color: #9290C3;

}

.gaze-control-searchTerm:focus {
    color: #9290C3;
}

.gaze-control-searchButton {
    width: 66px;
    min-width:66px;
    height: 66px;
    border: 1px solid #9290C3;
    background: #9290C3;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 26px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.gaze-control-wrap {
    width: 70%;
}

.gaze-control-grid-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.gaze-control-search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}