body {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    background-color: #070F2B;
    font-family: 'Manrope', sans-serif;

}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fav-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-style: italic;
    width: 140px;
    height: 140px;
    background-color: rgba(146, 144, 195, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    margin: 25px;
}
.fav-card p{
    color: black;
}

.fav-card img {
    margin-top: 15px;
    width: 60px;
    height: 60px;
}

.search {
    width: 100%;
    min-width: 450px;
    position: relative;
    display: flex;
}

.search input {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #9290C3;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9290C3;

}

.searchTerm:focus {
    color: #9290C3;
}

.searchButton {
    width: 66px;
    height: 46px;
    border: 1px solid #9290C3;
    background: #9290C3;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 26px;
}

.wrap {
    width: 70%;
}

.grid-container {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}