body {
    width: 220px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

button {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    background-color: #9290C3;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 50px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 90px;
}

input:checked + label {
    background: #9290C3;
}

input:checked + label:after {
    left: calc(100% - 2.5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 130px;
}

p {
    margin: 0;
    font-size: 14px;
}

.power-container {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.properties-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-group input[type="number"] {
    width: 70%;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.resolution-container, .timeout-range-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.resolution-container input[type="number"], .timeout-range-container input[type="number"] {
    width: 60%;
}

.resolution-container p, .timeout-range-container p {
    margin: 0 5px;
    font-size: 14px;
}

.timeout-range-container {
    gap: 20px;
}

.timeout-range-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#custom-gaze-screen-h, #custom-gaze-screen-w, #custom-gaze-hover-time, #custom-gaze-cursor-range{
    width: 60px;
}